.online_recognation_content{
    padding: 15px;
}
.online_recognation_body{
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    grid-gap: 10px;
    height: calc(100vh - 125px);
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 20px;
}
/*-------left content-----*/

.online_recognation_left{
    height: calc(100vh - 160px);
    position: relative;
    padding: 15px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}
.recognation_left_title{
    position: absolute;
    top: -18px;
    width: 22%;
    height: 30px;
    background-color: #FFFFFF;
}
.recognation_left_title h3{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    padding-top: 3px;
    padding-left: 5px;
}
.recognation_img_content{
    width: 100%;
    margin-top: 10px;
}
.recognation_img{
    position: relative;
    width: 100%;
    height: calc(100vh - 210px);
    border-radius: 10px;

}
.recognation_img_default{
    position: relative;
    width: 100%;
    height: calc(100vh - 200px);
    border-radius: 10px;
}
.img_time_info{
    position: absolute;
    /*width: 200px;*/
    /*height: 60px;*/
    /*background-color: #29b85d;*/
    bottom: 40px;
    left: 80px;
}
.img_time_title{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
.img_time{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}




/*-------right content-----*/
.online_recognation_right{
    height: calc(100vh - 160px);
    padding: 10px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}
.recognation_right_no{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.recognation_right_icon{
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
}
.recognation_right_title{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
}

.recognation_right_p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #717171;
}
.recognation_buttons{
    margin-top: 40px;
}
.recognation_btn{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;

    width: 163px;
    height: 50px;
    background: #F7F7F7;
    border-radius: 5px;
    border: none;
    outline: none;
}
.recognation_btn_cancel{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;

    width: 163px;
    height: 50px;
    background: #FFCFCF;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #920000;
}
.recognation_btn:hover{
    background: #29B85D;
    color: #FFFFFF;
}

/*----yes---*/

.recognation_right_yes{
    position: relative;
    height: calc(100vh - 170px);
    padding: 10px;
    /*border: 1px solid #eaeaea;*/
    border-radius: 5px;
}
.right_yes_title{
    position: absolute;
    top: -30px;
    width: 20%;
    height: 30px;
    background-color: #FFFFFF;
}

.right_yes_title h3{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin: 10px;
}

.recognation_right_yes_content {
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    gap: 15px;
}
.yes_content_left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    border: 1px solid #eaeaea;
}

.my_img{
    width: 100%;
    height: 400px;
}






/*.yes_content_right{*/
/*    height: auto;*/
/*}*/

.yes_content_label{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #1D1C1C;
    margin-left: 5px;
}
.yes_content_box{
    width: 100%;
    height: 45px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}



@media only screen and (max-width: 1800px) {
    .recognation_left_title{
        width: 34%;
    }
    .right_yes_title{
        width: 30%;
    }
}




