.accsessControl{
    min-height: calc(100vh - 64px);
    padding: 10px;
}
.acsess_content{
    display: flex;
    justify-content: space-between;
    min-height: 100%;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 10px;
}

.acsess_content_top {
    display: flex;
    justify-content: space-between;
}

.acsess_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 146px);
    max-height: calc(100vh - 146px);
    width: 18%;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #EBEEF4;
}
.acsess_right{
    width: 82%;
    min-height: calc(100vh - 146px);
    max-height: calc(100vh - 146px);
    border-radius: 10px;
    overflow: auto;
    margin-left: 10px;
}
.input_wrapper{
    display: flex;
    align-content: flex-end;
}

.ant-table-pagination.ant-pagination {
    margin-bottom: 0px !important;
}
.soft_btn{
    cursor: pointer;
}

/*AcsessTable*/

.table_round_img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.ant-table-pagination.ant-pagination {
    display: none;
}

.acsess_right .ant-table-thead th{
    position: sticky;
    top: 0;
    z-index: 10;
}
.ant-table-tbody > tr > td {
    padding: 4.7px !important;
}
@media only screen and (max-width: 1800px) {
    .ant-table-tbody > tr > td {
        padding: 4px !important;
    }
    .ant-table-thead > tr > th{
        padding: 8px !important;
    }

}
@media only screen and (max-width: 1650px) {
    .ant-table-tbody > tr > td {
        padding: 7px !important;
    }
    .table_round_img{
        width: 31px;
        height: 31px;
        border-radius: 50%;
    }
}