.face_control_search{
    padding: 10px;
}

.face_control_search_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.access-control-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 10px;
}

.content_inputs {
    width: 320px !important;
    background: #ffffff;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

.left_input {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    border-radius: 5px;
}
.left_input:hover {
    border: 1px solid #29b85d;
}

.input_label {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #1d1c1c;
    margin-bottom: 2px !important;
    margin-top: 7px !important;
}

.soft_btn {
    width: 100%;
    height: 40px;
    background: #29b85d;
    border-radius: 5px;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #ffffff;
    margin-bottom: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.clear_button{
    width: 100%;
    height: 40px;
    padding: 0 10px !important;
    background: #FF0000;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.content_right {
    width: calc(100% - 320px);
    max-height: calc(100vh - 146px);
    min-height: calc(100vh - 146px);
    right: 0 !important;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: auto;
    padding: 0 5px !important;
}

.content_total {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-right: 10px !important;
}

.content_pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my_cart_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}


.ant-layout-footer {
    padding: 0 !important;
}

@media only screen and (max-width: 1370px) {
    .content_inputs {
        width: 280px;
    }
    .content_right {
        width: calc(100% - 280px);
    }
    .face_control_search_inline_inputs{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        grid-column-gap: 5px;
    }
    .form_input_wrapper {
        width: 100%;
    }
}



