.access_control_setting {
    width: 100%;
    height: calc(100vh - 64px);
    padding: 10px;
}

.access_control_setting_body {
    width: 100%;
    margin-top: 10px;
    height: calc(100% - 42px);
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #EAEAEA;
    background-color: #fff;
}

/* tabs */

.access_control_setting_tab_item {
    width: 100%;
    height: calc(100vh - 190px);
    display: grid;
    grid-template-rows: 1fr 50px;
    overflow: auto;
    border-radius: 3px;
}

.access_control_setting_tab_item_single {
    grid-template-rows: 1fr 0px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #29B85D !important;
}

.ant-tabs-tab:hover .ant-tabs-tab-btn {
    color: #28ad59 !important;
}

.access_control_setting_tab_item_body {
    overflow: auto;
}

.access_control_setting_tab_item_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.access_control_setting_tab_item_footer_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.access_control_setting_tab_item_footer_buttons button {
    cursor: pointer;
    border: none;
    padding: 0px 18px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    color: #8B0606;
    display: flex;
    align-items: center;
    background-color: #FFDEDE;
}

.access_control_setting_tab_item_footer_buttons button:hover {
    opacity: 0.9;
}

.add_button {
    margin-right: 8px;
    background-color: #29B85D !important;
    color: #fff !important;
}

.edit_button {
    width: 50px;
    height: 35px;
    background-color: #29B85D;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    cursor: pointer;
    margin: 0 auto;
}

.edit_button:hover {
    opacity: 0.9;
}

.door_ip_length {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 2px 15px;
    border-radius: 5px;
}

.door_ip_length:hover {
    background-color: #efefef;
}


.door_ip_length_hover {
    position: absolute;
    white-space: nowrap;
    top: -40px;
    left: 50%;
    padding: 5px 15px;
    border-radius: 5px;
    transform: translate(-50%, 0);
    background-color: #29B85D;
    color: #fff;
    opacity: 0;
    z-index: 100;
    transition: all ease-in-out 0.3s;
}

.door_ip_length_hover_rectangel {
    width: 20px;
    height: 20px;
    background-color: #29B85D;
    position: absolute;
    bottom: -40%;
    left: 50%;
    z-index: -1;
    transform: rotate(45deg) translate(-50%, 10%);
}

.door_ip_length:hover> .door_ip_length_hover{
    opacity: 1;
}
