.real_time_content{
    padding: 10px;
}


.real_time_body{
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    grid-gap: 10px;
    height: calc(100vh - 115px);
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
}
.realtime_left {
    position: relative;
    padding: 10px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}

.realtime_left_title{
    position: absolute;
    top: -10px;
    width: 35%;
    height: 30px;
    background-color: #FFFFFF;
}
.realtime_left_title p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-left: 5px;
}
.checkbox{
  margin-right: 100px;
    padding-top: 30px;
}


.realtime_middle{
    position: relative;
    padding: 10px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}
.realtime_middle_title{
    position: absolute;
    top: -10px;
    width: 42%;
    height: 30px;
    background-color: #FFFFFF;
}
.realtime_middle_title p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-left: 5px;
}
.update_img{
    width: 275px;
    height: 285px;
    margin-top: 10px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
}
.realtime_button{
    font-family: Open Sans;
    width: 275px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 12px;
}
.realtime_button:hover{
    background: #29B85D;
    color: #FFFFFF;
}




.realtime_right{
    position: relative;
    padding: 10px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}
.realtime_right_title{
    position: absolute;
    top: -10px;
    width: 12%;
    height: 30px;
    background-color: #FFFFFF;
    margin-bottom: 5px;
}
.realtime_right_title p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-left: 5px;
}
.realtime_right_content{
    height: calc(100vh - 180px);
    display: grid;
    align-content: space-between;
    margin-top: 10px;

}

.realtime_remove_btn{
    font-family: "Open Sans";
    width: 49%;
    height: 45px;
    background: #FFCFCF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 5px;
    color: #920000;
;
}
.realtime_add_btn{
    font-family: "Open Sans";
    width: 49%;
    height: 45px;
    background: #29B85D;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 5px;
    color: #FFFFFF;
}









@media only screen and (max-width: 1370px) {
    .input_label {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 3px !important;
        margin-top: 3px !important;
    }
    .real_time_inline_inputs{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .realtime_selectInput{
        width: 187px;
        height: 35px;
    }
    .rt_search_inpur{
        width: 187px;
    }
    .realtime_left_title{
        width: 57%;
    }
    .realtime_right_title{
        width: 18%;
    }
}

