
.realtime_table_buttons{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;

}
.realtime_table_button{
    width: 49%;
    height: 45px;
    font-family: Open Sans;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 5px;
}
.realtime_table_button:hover{
    background: #29B85D;
    color: #FFFFFF;
}
.realtime_right_bottom_buttons{
    display: flex;
    justify-content: space-between;
}
.add_cardModal_title{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 44px;
   color: #000000;
}
.add_cardModal_input{
    margin-top: 20px;
    border-radius: 5px;
}
.addIDcard_buttons{
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
}

.cancel_add_btn{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #BBBBBB;

    width: 190px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 5px;
}
.cancel_add_btn:hover{
    background-color: #29b85d;
    color: #FFFFFF;
}


.ant-modal-footer{
    display: none;
}
.ant-modal-close-x{
    display: none;
}
.ant-input{
    font-size: 16px!important;
}






