.access_control_add_staff_modal {
    padding: 20px;
}

.access_control_add_staff_modal_title {
    font-size: 24px;
    font-weight: 700;
}

.access_control_add_staff_modal_subline {
    width: 100%;
    height: 1px;
    border: none;
    margin-top: 35px;
    background-color: #E5EAFA;
}

.access_control_add_staff_modal_body {
    display: grid;
    grid-template-columns: 380px 320px 380px;
    grid-column-gap: 10px;
    margin-top: 18px;
}

.access_control_add_staff_modal_body_item {
    /* height: 500px; */
    border: 1px solid #EAEAEA;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.access_control_add_staff_modal_body_item_title {
    display: inline;
    padding: 0 5px !important;
    position: absolute;
    top: -15px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;

}

.access_control_add_staff_modal_body_item_3 {
    display: grid;
    grid-template-rows: 1fr 110px 30px 45px;
    grid-row-gap: 15px;
}

.access_control_add_staff_modal_body_item_3_notif {
    background-color: #E5F6FF;
    border-radius: 5px;
    color: #5A5D62;
    padding: 10px;
}

.access_control_add_staff_modal_body_item_3_notif p {
    margin-bottom: 13px !important;
}

.access_control_add_staff_modal_body_item_3_submit_button {
    border: none;
    background-color: #29B85D;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.access_control_add_staff_modal_body_item_3_submit_button:hover {
    opacity: 0.9;
}