@font-face {
  font-family: Open Sans;
  src: url(./fonts/OpenSans/OpenSans-Regular.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}


::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: #29b85d;
  border-radius: 30px;
}


.ant-input:hover{
  border-color: #29b85d;
}
.ant-input:focus {
  border-color: #29b85d;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(40, 229, 56, 0.2);
  box-shadow: 0 0 0 2px rgba(46, 229, 40, 0.2);
}

.ant-select:hover{
  border-color: #29b85d;
}
.ant-select-selector:hover, .ant-select-selector:focus-within {
  border: 1px solid #29b85d !important;
}


/*---datePiker--*/
.ant-picker:hover{
  border: 1px solid #29b85d !important;
}
.ant-picker-focused{
  border: 1px solid #29b85d !important;
}

/*---checkbox---*/
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #29b85d !important;
  border-color: #29b85d !important;
}
.ant-checkbox-indeterminate .ant-checkbox-inner::after{
  background-color: #29b85d!important;
}

.ant-input-affix-wrapper-focused{
  border-color: #29b85d;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(40, 229, 56, 0.2);
  box-shadow: 0 0 0 2px rgba(46, 229, 40, 0.2);
}
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #29b85d!important;
  border-right-width: 1px !important;
  z-index: 1;
}


/*---multi input checkbox kolor--- */

.ant-select-tree-checkbox-checked .ant-select-tree-checkbox-inner {
  background-color: #29b85d!important;
  border-color: #29b85d!important;
}
.ant-select-tree-checkbox-inner:hover{
  border-color: #25b864!important;
}

/*-----table header width height---*/
.ant-table-thead > tr > th{
  padding: 11px 10px !important;
}

.ant-table-tbody > tr > td {
    padding: 4.2px 7px !important;
}

.ant-tabs-top > .ant-tabs-nav{
  margin: 0 0 5px 0;
}
.ant-spin-dot-item {
  background-color: #25b864!important;
}

/*----datePeker---*/
a {
  color: #25b864;
}
a:hover {
  color: #25b864;
}
.ant-btn-primary{
  background-color: #29b85d;
  border-color: #29b85d;
}
.ant-btn-primary:hover{
  background-color: #29b85d;
}
.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
  background: #29b85d;
}
.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border: 1px solid #29b85d;
}
.ant-pagination-item-active {
  border-color: #29b85d;
}
.ant-pagination-item:hover {
  border-color: #29b85d;
}
.ant-pagination-next:hover .ant-pagination-item-link {
  color: #29b85d;
  border-color: #29b85d;
}
.ant-pagination-prev:hover .ant-pagination-item-link {
  color: #29b85d;
  border-color: #29b85d;
}
.ant-pagination-prev, .ant-pagination-next, .ant-pagination-jump-prev, .ant-pagination-jump-next {
  font-family: Open Sans;
  line-height: 30px!important;
}








@media only screen and (max-width: 1470px) {
  .ant-table-cell {
    font-size: 12px!important;
  }
  .ant-table-thead > tr > th{
    padding: 8px 10px !important;
  }
  .edit_button{
    width: 36px;
    height: 28px;
  }
  .Content_title {
    font-size: 16px;
  }
  .ant-picker-date-panel .ant-picker-body {
     padding: 0px 0px;
  }
  .ant-picker-date-panel, .ant-picker-time-panel {
    width: 250px;
  }
  .ant-picker-dropdown {
    font-size: 12px;
  }
  .ant-picker-time-panel-column {
    width: 35px;
  }
  .ant-picker-time-panel {
    width: 120px;
  }


}















